:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-neutral-800: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;
  --ff-regular: 500;
  --ff-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--ff-primary);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background-color: var(--clr-primary-100);
  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
}

.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  max-width: 650px;
}

@media (max-width: 599px) {
  .desktop-product {
    display: none;
  }
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }

  .mobile-product {
    display: none;
  }
}

.product__content {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.product__category {
  font-size: 0.75rem;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
}

.product__name {
  font-size: 2rem;
  color: var(--clr-neutral-800);
  font-family: var(--ff-secondary);
  line-height: 2rem;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.new-price {
  font-size: 2rem;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-400);
}

.old-price {
  text-decoration: line-through;
  font-size: 0.813rem;
}

.button {
  cursor: pointer;
  padding: 0.75em 1.5em;
  gap: 0.75rem;
  border: 0;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--ff-bold);
}

.button:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url(./assets/images/icon-cart.svg);
  width: 15px;
  height: 16px;
}